* {
   
    margin:0px;
    padding:0px;
}

#header {
    margin:auto;
    width:800px;
    font-family:Arial, Helvetica, sans-serif;
    
    

    }

#titulo{
font-family: cursive;
font-size: 50px;
color: rgb(255, 255, 255);
}
#logo{
    float: left;
}
#principal{
    background-color: orange;
    text-align: center;
}
#parrafo{
    
    display: inline-block;
}

#vivo{
    background-color: red;
    color: snow;
}
#tittle{
    z-index: 3;
    background-color: chartreuse;

}
.walking{
    height: 600px;
    width: 7000px;
    
}